/* Import the 'Open Sans' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap');

/* Apply default styles to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Set the background color for the entire page */
body {
    background: #bbc6fa;
}

/* Style the quote box container */
.quote-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

/* Style the title for the quote section */
.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

/* Add an underline effect after the title */
.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the quote text */
.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

/* Add quotation marks before and after the quote text */
.quote-box blockquote::before,
.quote-box::after {
    content: '';
}

/* Style the author section */
.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

/* Add a line before the author's name */
.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

/* Style the button container and center its content */
.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* Style the buttons for New Quote and Post */
.quote-box button {
    background: rgb(23, 124, 229);
    color: #ffff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

/* Style the Twitter icon within the Post button */
.quote-box button img {
    width: 20px;
    margin-right: 10px;
}

/* Style the second button with transparent background and different text color */
.quote-box button:nth-child(2) {
    background: transparent;
    color: #333;
}









